In [25]:
# -*- coding: utf-8 -*-
"""

@author: hulingd, milessb
"""
# General dependencies
import pandas as pd

# Housing simulation specific dependencies
from housing_sim import simulate_housing

%pylab inline

Populating the interactive namespace from numpy and matplotlib

** Import household attributes data **

In [26]:
# Manually create a input data dictionary for testing
households_inputs_dict = {'name' : ['Bill', 'Boyd', 'Bobby', 'Biff'],
                     'savings' : [100.0, 1000.0, 10000.0, 100000.0],
                    'damaged' : [1, 1, 1, 1],
                    'damage_value' : [10000.0, 10000.0, 20000.0, 20000.0],
                    'insurance_coverage' : [0.0, 0.0, 5000.0, 10000.0]
                    }
# Create dataframe from dictionary
households_df = pd.DataFrame(households_inputs_dict)

# Re-order dataframe columns
households_df = households_df[['name','savings','insurance_coverage','damaged','damage_value']]
households_df

    name  savings  insurance_coverage  damaged  damage_value
0   Bill      100                   0        1         10000
1   Boyd     1000                   0        1         10000
2  Bobby    10000                5000        1         20000
3   Biff   100000               10000        1         20000

**Set resources contants**

In [27]:
NUM_INSPECTORS = 1  #Number of Inspectors 
NUM_FEMA_PROCESSORS = 2 #Number of FEMA assistance application processors
NUM_INSURANCE_ADJUSTERS = 2 #Number of insurance claim adjusters
NUM_CONTRACTORS = 2 #Number of Contractors

durables_dict = {"inspectors": NUM_INSPECTORS,   
             "fema processors": NUM_FEMA_PROCESSORS,
             "claim adjusters": NUM_INSURANCE_ADJUSTERS,
             "contractors": NUM_CONTRACTORS,
             }

FEMA_ASSISTANCE_BUDGET = 100000 # Budget allocated to FEMA to fund individual assistance

nondurables_dict = {"fema assistance": FEMA_ASSISTANCE_BUDGET}

**Populate, and run the simulation**

In [28]:
households_df = households_df.join(simulate_housing(households_df, durables_dict, nondurables_dict))

In [29]:
name = 'Bill'
households_df.loc[households_df['name']==name, 'story'].values[0]

'Bill started with $100.0 in savings. The house was inspected 14 days after the earthquake. It suffered $10000.0 of damage. Bill had no insurance and so did not file a claim. Bill received $10000.0 from FEMA after a 120 day wait. With the addition of FEMA assistance Bill had enough to rebuild. The house was rebuilt 195 days after the quake, taking 60 days to rebuild. '

In [30]:
name = 'Bobby'
households_df.loc[households_df['name']==name, 'story'].values[0]

'Bobby started with $10000.0 in savings. The house was inspected 14 days after the earthquake. It suffered $20000.0 of damage. Bobby had a $5000.0 insurance policy and filed a claim. Bobby received a $5000.0 insurance payout but still needed FEMA assistance. It took 90 days to process the claim. Bobby received $15000.0 from FEMA after a 120 day wait. With the addition of FEMA assistance Bobby had enough to rebuild. The house was rebuilt 315 days after the quake, taking 60 days to rebuild. '

In [31]:
name = 'Biff'
households_df.loc[households_df['name']==name, 'story'].values[0]

'Biff started with $100000.0 in savings. The house was inspected 14 days after the earthquake. It suffered $20000.0 of damage. Biff had enough savings to rebuild the house. The house was rebuilt 78 days after the quake, taking 60 days to rebuild. '

In [32]:
name = 'Boyd'
households_df.loc[households_df['name']==name, 'story'].values[0]

'Boyd started with $1000.0 in savings. The house was inspected 14 days after the earthquake. It suffered $10000.0 of damage. Boyd had no insurance and so did not file a claim. Boyd received $10000.0 from FEMA after a 120 day wait. With the addition of FEMA assistance Boyd had enough to rebuild. The house was rebuilt 196 days after the quake, taking 60 days to rebuild. '

In [34]:
households_df

,name,savings,insurance_coverage,damaged,damage_value,response_time,inspection_get,inspection_time,assistance_put,assistance_get,...,assistance_request,assistance_payout,claim_put,claim_get,claim_time,claim_payout,house_put,house_get,rebuild_time,story
0,Bill,100,0,1,10000,14,15,1,15,135,...,10000,10000,0,0,90,0,135,195,60,Bill started with $100.0 in savings. The house...
1,Boyd,1000,0,1,10000,14,16,1,16,136,...,10000,10000,0,0,90,0,136,196,60,Boyd started with $1000.0 in savings. The hous...
2,Bobby,10000,5000,1,20000,14,17,1,107,255,...,15000,15000,17,107,90,5000,255,315,60,Bobby started with $10000.0 in savings. The ho...
3,Biff,100000,10000,1,20000,14,18,1,0,0,...,0,0,0,0,90,0,18,78,60,Biff started with $100000.0 in savings. The ho...